<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li><%= review.content %> (<%= review.rating %>)</li>
    <% end %>
  </ul>

  <%= render 'reviews/form', restaurant: @restaurant, review: @review %>

  <%= link_to restaurants_path do %>
    <i class="fas fa-arrow-circle-left yellow mt-3" style="font-size: 24px"></i>
  <% end %>

</div>